@import "./../../../styles/constants";
.card {
  margin: 15px;
}
.card-body {
  h5 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 2rem;
    font-weight: normal;
  }
  p {
    font-size: 1.7rem;
    margin: 10px 0 0 10px;
  }
  .card_footer {
    @include flex;
    width: 100%;
    justify-content: space-between !important;
    .btn {
      width: 50px !important;
    }
    .btn:focus {
      box-shadow: none !important;
      outline: none !important;
    }
    .far {
      font-size: 3rem !important;
    }
    .card_footer_btn {
      @include flex;
      margin-top: 10px;
      p {
        margin-left: -20px;
      }
      .noUser {
        margin-left: 10px !important;
      }
      .btn {
        width: 60px !important;
        border-radius: 5px;
      }
    }
  }
}
.clickLike {
  font-size: 3rem !important;
  color: #0984e3 !important;
}
